nav.navbar(role="navigation" aria-label="main navigation")
    .navbar-brand
        .navbar-burger
            span
            span
            span
    .navbar-menu
        .navbar-start
            a.navbar-item(href="/app/home") Home
            a.navbar-item(href="/app/users") Users
            a.navbar-item(href="/app/feed") Feed
            a.navbar-item(href="/app/logout") Logout
        .navbar-end

