doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Hackathon 2018
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
        link(rel="stylesheet" href="/public/css/app.css")
        script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")

    body
        block content

        // SCRIPTS
        block scripts
            script.
