extends layouts/master2018.pug

block content
    section.section
        .container
            .columns.is-centered
                .column.is-one-third.content
                    h1 Begin
                    form(action="/login", method="POST")
                        .field
                            label(for="username") username
                            .control
                                input.input(type="text" name="username")
                        .field
                            label(for="password") password
                            .control
                                input.input(type="password" name="password")
                        .field
                            .control
                                button.button.is-link(type="submit") Submit
                    p Don't have an account? #[a(href="/register") Register]
                

        #beginModel.modal.is-active
            .modal-background
            .modal-content
                .box
                    h1.title Welcome.
                    .content
                        p.
                            You are going to be here for a while so you might as well read this.
                        .timer-box
                            h2#countdown.time

block scripts
    script.
        console.log('begin');

        let time_seconds, then, remaining;

        time_seconds = 1000;
        then         = Date.now();
        remaining    = time_seconds * 1000;
            
        function loop() {
            let id = setTimeout(loop, 0);

            let delta  = Date.now() - then;
            remaining -= delta 

            rm_str = '' + (remaining / 1000)
            rm_str = rm_str.substring(0, rm_str.length - 2);
            document.getElementById('countdown').innerText = rm_str;

            then = Date.now();
            if (remaining <= 0) {
                document.getElementById('beginModel').classList.toggle('is-active');
                clearTimeout(id);
            }
        }

        // Set things off
        loop();


