extends layouts/profile.pug

append content
    section.section
        .container
            .columns.is-centered
                #posts.column.is-two-fifths
                    include partials/posts.pug
            p#loadMore
                button.button load more
        #commentModal.modal
            .modal-background
            .modal-card
                header.modal-card-head
                    p.modal-card-title Replies
                    button.delete(aria-label="close")
                section.modal-card-body
                    .content
                        p
                footer.modal-card-foot
append scripts
    script.
        const posts = document.getElementById('posts');
        const modal = document.getElementById('commentModal');
        const load  = document.querySelector('#loadMore button');

        load.addEventListener('click', evt => {
            const lastIndex = document.querySelector('.last').dataset.index;
            console.log(lastIndex);

            // remove .last from this elem
            document.querySelector('.last').classList.toggle('last');
            const xhr = new XMLHttpRequest();
            xhr.addEventListener('load', loadPosts);
            xhr.open('GET', '/app/getPosts?lastIndex=' + lastIndex);
            xhr.send();
        });

        posts.addEventListener('click', evt => {
            if (evt.target.dataset.action) {
                const action = evt.target.dataset.action;
                if (action === 'reply') {
                    evt.target.parentElement.parentElement.parentElement.querySelector('.comment').style.display = 'block';
                } else {
                    getComments(evt.target.dataset.post);
                }
            }
        });

        modal.querySelector('button.delete').addEventListener('click', evt => {
            modal.classList.toggle('is-active');
        });

        function loadPosts(dat) {
            posts.innerHTML += this.responseText;
        }

        function success(dat) {
            console.log(this.responseText);
            modal.classList.toggle('is-active');
            modal.querySelector('.modal-card-body .content p').innerHTML = this.responseText;
        }

        function getComments(postId) {
            const xhr = new XMLHttpRequest();
            xhr.addEventListener('load', success);
            xhr.open('GET', '/app/getComments?postId=' + postId);
            xhr.send();
        }

        function createReply() {

        }

