extends layouts/profile.pug

append content
    section.section
        .container
            .columns.is-centered
                .column.is-one-third
                    ul
                        each user in users
                            li #{ user._data.username }


