/* APP */

html {
    background-color: hsl(0, 0%, 95%);
}

.post {
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 3px 2px hsl(0, 0%, 30%);
    padding: 1em;
}

.modal-card.modal-comments {
    max-height: calc(100vh - 100px);
}

/* The best pattern ever */
.timer-box {
    background-color: hsl(0, 0%, 20%);
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    min-width: 200px;
    margin-right: 10px;
}

.timer-box > .time {
    color: hsl(0, 0%, 100%);
    margin: 0;
}
